.form {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 500px;
  min-height: 400px;

  .title {
    font-size: 50px;
    color: #543864;
    align-self: flex-start;
    letter-spacing: 0.075em;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .actions {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .submit, .cancel {
    width: 45%;
    border-radius: 5px;
  }

  .submit {
    font-size: 25px;
    padding: 10px 30px;
    background: none;
    color: #543864;
    border: 2px solid;
    transition: 0.5s ease-out;
    outline: none;

    &:hover {
      opacity: 0.5;
      transition: 0.1s ease-in-out;
    }

    &:active {
      opacity: 1;
      color: #ffbd69;
    }

    &:disabled, &:disabled:hover {
      opacity: 0.4;
    }
  }

  .cancel {
    font-size: 25px;
    color: #bbb;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 0.5
    }
  }
}
