.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
    height: 45px;
    background: none;
    border-radius: 5px;
    border: 1px solid;
    color: #543864;
    opacity: 0.7;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    padding: 0 20px;
    transition: 0.1s ease;
    cursor: pointer;

    &:active {
      color: #fff;
      border-color:#543864;
      background: #543864;
    }

    &[disabled] {
      cursor: not-allowed;
    }

    .selected {
      color: #fff;
      border-color: #202040;
      background: #202040;
      opacity: 1;
    }

    .input {
      background: none;
      min-width: 1em;
      font-size: 20px;
      text-align: right;
    }

    &:hover {
      opacity: 1;
    }
    
    .arrow[disabled] {
      opacity: 0.5;
    }
  }
}

.Pagination__button + .Pagination__button {
  margin-left: 10px;
}
